@import "../template/mixins";
@import "../template/settings";

@import url(./fonts/league-gothic/league-gothic.css);
@import url(./fonts/Iosevka/Iosevka.css);
@import url(./fonts/Lato/Lato.css);

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: white;
$linkColor: $blue;
$linkColorHover: lighten($linkColor, 20%);
$selectionBackgroundColor: $magenta;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

$mainFont: Lato, 'sans-serif';
$headingFont: League Gothic, 'sans-serif';
$codeFont: Iosevka;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal h1 {
  color: $orange;
}

.reveal h2 {
  color: $yellow;
}

.reveal h3 {
  color: $green;
}

.reveal .orange {
  color: $orange;
}

.reveal .red {
  color: $red;
}

.reveal .blue {
  color: $blue;
}

.reveal .green {
  color: $green;
}

.reveal .yellow {
  color: $yellow;
}

.reveal .magenta {
  color: $magenta;
}

.reveal .highlight {
  background-color: $base00;
}

.reveal .slides section img {
  margin: 15px 0;
  border: none;
  box-shadow: 0 0 0;
}

.reveal .slides section img[src$=".svg"] {
  margin: 0 0;
  border: none;
  box-shadow: 0 0 0;
}

.reveal .slides section blockquote {
  width: 30em;
  background: white;
  border: 0 solid;
  box-shadow: 0 0 0;
  text-align: right;
  font-style: italic;
  font-size: larger;
  padding: 0 0;
}

.reveal .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.reveal .list .item {
  margin-left: 10%
}

.reveal .slides sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal iframe {
  border: none;
}

.reveal pre {
  width: 98%;
  font-size: 0.40em;
  border: none;
}

.reveal pre code {
  color: $base3;
  background-color: $base03;
  max-height: 800px;
}

.reveal .lang {
  background-color: $base01;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px
}

.reveal .ch {
  background-color: $base00;
}

.reveal .code {
  font-family: "Iosevka", sans-serif;
  background-color: rgba($base1, 10%);
  border-radius: 10px;
  font-size: smaller;
  padding: 1px 4px;
  border: 1px solid $magenta;
}

.reveal .label {
  background-color: $base3;
  border-radius: 2px;
  border: 1px solid $base01;
}

.reveal .slides section .fragment.highlight-current-back {
  opacity: 1;
  visibility: inherit;

  &.visible {
    background-color: $base00;
  }
}

.reveal img {
	max-width: 100%;
	max-height: 100%;
}

.caption {
  display: inline-block;
  vertical-align: middle;
  position: relative
}

.caption img {
  margin-bottom: 0;
}

.caption p {
  text-align: left;
  position: absolute;
  font-size: small;
  margin-top: -25px;
}
